.wrapper>h3{
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    padding:0 0.6666666666666666rem;
    font-size: 0.5777777777777777rem;
    color: #9B9B9B;
    height:2.0444444444444443rem;
    line-height:2.0444444444444443rem;
}

.wrapper>div{
    width:100%;
    height:2rem;
    line-height:2rem;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    margin-top:0.4rem;
    padding:0 0.6666666666666666rem;
    font-size: 0.6666666666666666rem;
}
/*问题描述*/
.wrapper>div.ques-txt{
    min-height:7.555555555555555rem;
    font-size: 0.6666666666666666rem;
    color: #C6C6C6;
    outline: none;
    -webkit-user-select: text;
    line-height:1.1111111111111112rem;
    padding-top:0.4444444444444444rem;
    padding-bottom:0.4444444444444444rem;
    overflow:auto;
    margin-top:0;
}
.ques-txt:empty:before{
    content: attr(data-placeholder);
    color: #C6C6C6;
}
.ques-txt:focus:before{
    content: none;
}
/*上传照片*/
.wrapper>div.submit-box{
    height:auto;
    padding-bottom:0.8888888888888888rem;
    overflow:hidden;
}

.upload{
    float:left;
    width:3.2rem;
    height:3.2rem;
    margin-top:0.6222222222222222rem;
    background:url(../img/submit-picture.png) no-repeat;
    background-size: 100%;
    margin-right:0.4444444444444444rem;
    cursor:pointer;
}
.picture{
    float:left;
    width:3.2rem;
    height:3.2rem;
    margin-top:0.6222222222222222rem;
    margin-right:0.4444444444444444rem;
    position: relative;
    cursor:pointer;
}
.picture>img{
    width:3.2rem;
    height:3.2rem;
}
.del-pic{
    position:absolute;
    top:-0.17777777777777778rem;
    left:-0.17777777777777778rem;
    width:0.8888888888888888rem;
    height:0.8888888888888888rem;
    background: url(../img/del-pic.png) no-repeat;
    background-size: 100%;
}
/*大图*/
.big-pic-box{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#000;
    z-index:99;
    display:none;
}
.big-pic-box>img{
    width:100%;
    /*height:16rem;*/
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


.submit-box>form>a{
    float:left;
    font-size: 0.6666666666666666rem;
    color: #757575;
    height:3.2rem;
    line-height:3.2rem;
    margin-top:0.6222222222222222rem;
    cursor:pointer;
}
.submit-box>form>a>span{
    font-size: 0.4444444444444444rem;
    color: #989898;
}
#file{
    display:none;
}

/*手机号&时间*/
.wrapper>div>span{
    float:left;
    color: #A0A0A0;
}
.wrapper>div>input,.wrapper>div>p{
    float:right;
    color: #474646;
    text-align: right;
}
.wrapper>div>input{
    width:40%;
    height:1.9111111111111112rem;
    border:none;
}
.wrapper>div>p{
    width:45%;
}
.submit{
    display: block;
    width:14.666666666666666rem;
    height:2rem;
    line-height:2rem;
    background: #5BB0DD;
    border-radius: 6px;
    margin:0 auto;
    margin-top:0.9777777777777777rem;
    font-size: 0.6666666666666666rem;
    color: #FFFFFF;
}